* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;

    background: linear-gradient(
        135deg,
        #667eea,
        #764ba2,
        #6dd5ed
    );

    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 90%;
    max-width: 400px;

    padding: 30px;

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.2);

    border-radius: 25px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.25);

    color: white;

    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 40px;
    margin-top: 0;
}
.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.search-box input {
    flex: 1;

    padding: 12px;

    border: none;

    border-radius: 12px;

    outline: none;
}

.search-box button {
    border: none;

    padding: 12px 18px;

    border-radius: 12px;

    cursor: pointer;

    font-weight: bold;

    transition: 0.3s;
}

.search-box button:hover {
    transform: scale(1.05);
}

.weather-card {
    background: rgba(255,255,255,0.1);

    padding: 25px;

    border-radius: 20px;
}

.weather-card h2 {
    font-size: 1.8rem;
}

.weather-card h3 {
    font-size: 3rem;
    margin: 15px 0;
}

.weather-card p {
    font-size: 1.2rem;
}
.weather-icon {
    font-size: 4rem;
    margin-bottom: 10px;
}
.extra-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.extra-info div {
    background: rgba(255,255,255,0.15);

    padding: 12px;

    border-radius: 12px;

    width: 45%;
}